<div class="d-flex justify-content-center">
	<div class="template">
		<div class="body">
			<div class="d-flex flex-wrap justify-content-center align-items-center">
				<img src="assets/img/social-media/Image from iOS (10).jpg" class="col-sm-12 col-xl-8 home-image">
				<div class="flex-column justify-content-center align-items-center col-xl-4 col-sm-12">
					<div class="about-txt">"I brought this site to engineers or to anyone who has interest in how to use your career to help propell your life forward."</div>
					<div class="about-sig">- Nick</div>
				</div>
			</div>
		</div>
	</div>
</div>

