<div class="d-flex flex-column align-items-center justify-content-center">
	<div class="template">
		<div class="body">
				<div id="intro" class="blog-title"> Short Summary of My Background </div>
				<div class="blog-meta">Nick Kalpakis - 07/10/2020</div>
				<div class="blog-text">
					I created this website to help engineers leverage their craft to help build a successful career inside and outside the office.  Even though the content mostly concerns engineers, I hope to share knowledge and experience that provides value to a broader public.  So I’ll begin by telling a little bit about myself.  
					I grew up in Pittsburgh, PA and I’ve been here most of my life.  
					I went to the University of Pittsburgh at Johnstown and initially enrolled in the pre-medical program.  
					After a couple years of classes I realized (just like 90%) of students that this wasn’t for me and I wanted to try something else.  
					I had conversations with a friend that was taking computer science classes and he kind of pushed me to give it a shot.
					<br><br>  
					I enjoyed working with new technology in general and thought it would be a great way to use my creative and problem solving skills.  
					I switched my major my junior year in college and enrolled in our computer science program.  
					I believe the structure and the progression of classes could’ve been tweaked, but overall it was a solid program that had a good balance of theory and practical based classes.  
					I finished up my computer science degree in 3 years while jamming all of my upper level classes into my last year.  After finally graduating after 5 years of college I was somewhat stuck since I was coming out of school without any internship experience. 
					<br><br>  
					Since I started taking computer science classes my junior year it kind of set my whole normal timeline back compared to a normal computer science student.  
					I took what I could and moved down to Orlando, FL to take a software engineer position with a government contractor.  The job was boring and stale, but I knew I needed the professional experience.  I got about a year of experience at the company and was able to find a job back at home in Pittsburgh. 
					It was great and I felt like I finally caught up to where I wanted to be in my career - back at home in Pittsburgh with some a solid base as a junior software engineer. The new position was good and provided new skills to learn, but was still an out dated engineering department.  
					I took a new job at a startup company after realizing there was little room for improving my career at my current job. I always believed in putting myself in a situation where I needed to drastically improve.  It was the quickest and best way to make myself a better engineer, I also loved the challenges. 
					<br><br>

					<div class="d-flex flex-wrap" >
						<div class="col-xl-6 col-sm-12 d-flex justify-content-center">
							<img src="assets/img/IMG_0807.JPG" style = "width:100%" class="nyc-img">
						</div>
						<div class="col-xl-6 col-sm-12 d-flex align-items-center justify-content-center nyc-txt">
							After a couple of years the startup got bought out and it was time to look for a new position.  
							At this point, being at different companies gave me a wide range of experience including different tech stacks and how tech companies operate. My next job as a software engineer was with a company just starting a technical transformation.  I was glad to be apart of it and knew I was going to learn a lot along the way.  
							I got sent to NYC to engage in some training on how to build software efficiently in a very fast paced agile environment. After the engagement, I felt like it was the first time I was confident in my career and believed I was a true asset. A couple of years later after starting the position I decided to move to Los Angeles to take a mobile developer position with a startup company.  
						</div>
					</div>
					
					<br><br> 
					Living and working in LA was a long term goal for me and gave me satisfaction knowing that I reached that point.  There was a lot of friction working at the start up but the competitiveness and knowledge in the workspace set me at a higher level. It seemed like from a process standpoint we were doing everything backwards compared to what I learned training in New York City.  
					It was frustrating but I knew it was beneficial in other areas for my career.  The engineers were top notch and being in LA gave me a really forward way of thinking and understanding things.  I am currently back in Pittsburgh working for the previous company.  They were able to understand why I left and respected my decision, so luckily they were happy to have me back.  
					Always be upfront - but never be an asshole.
				</div>
			</div>
	</div>

	<div class="template">
		<div class="body">
			<div id="wfh">
				<div id="wfh" class="blog-title"> Working from Home in 2020 </div>
				<div class="blog-meta">Nick Kalpakis - 07/31/2020</div>
				<div class="blog-text">
				
					It’s going to be interesting in the upcoming future what will happen with large tech cities such as SF, NYC and LA.  Rent can be a pretty penny, but why does anyone need to live there if we plan to wfh for the indefinite future?  If you’re able to work from home in a moderately priced city, there’s no more need to live in these big cities. 
					Since everything is shut down, who cares if you don’t live in a city that never sleeps.  
					<br><br>  

					If this catches on and everyone moves out of the tech hubs, who knows what affects that will have as we progress. 
					It wouldn’t be such a bad thing making SF money but living somewhere like Ft. Lauderdale (which doesn’t have state tax). 
					<div class="d-flex justify-content-center">
						<img src="assets/img/average-rent.png" class="col-12 average-rent-img">
					</div>
					The next question is what are tech companies going to do with their large campuses and buildings?  They obviously won’t need these to accommodate everyone that’s working from home. How do they leverage what they have for the current situation? They won’t be able to just quickly downsize or sell property. 
					It will be interesting to see how these huge spaces will be utilized.
					
				</div>
			</div>
		</div>
	</div>

	<div class="template">
		<div class="body">
			<div id="wfh">
				<div id="wfh" class="blog-title"> Future of Building Software </div>
				<div class="blog-meta">Nick Kalpakis - 01/03/2021</div>
				<div class="blog-text">
					Software engineering is guiding the future. 
					Products 20 years ago were as simple as Microsoft Paint. 
					Now products have the power to make stock market day trades instantly while seamlessly
					getting news feeds across multiple sources that share information about your favorite stock.
					<br><br> 
					Now products have the ability to be integrated into your television and can predict what shows you
					would most likely enjoy. And now products are self driving cars
					like your new Tesla. There is a lot of responsibility behind technology teams pushing forward 
					with these advancements. Teams are determining solutions for questions like, how can we predict 
					the right medication for someone with an illness, and 
					how do we know when to swerve our self driving car if an object is in the way. 
					<br><br>  
					Technology is able to predict everyday choices and we are responsible for shaping everyones journey throughout the 
					day. While beginning to type your question into google, we notice it magically knows what we’re thinking. 
					Algorithms predict which route to take to work, and which item to purchase with your brand new
					Air Jordans. All of life’s decisions will be determined by algorithms that we create and manage. Technology is shaping the future 
					and it’s exciting to be a part of the ride.
				</div>
			</div>
		</div>
	</div>


	<div class="template">
		<div class="body">
			<div id="wfh">
				<div id="wfh" class="blog-title"> Twitter VS Slack/Discord/Clubhouse</div>
				<div class="blog-meta">Nick Kalpakis - 01/03/2021</div>
				<div class="blog-text">
					I think Twitter has a great opportunity to get into the chatroom/discussion space.  They already have a strong community platform and can use it to move into other areas. Clubhouse is an app that’s doing extremely well and is strictly audio.  There are “rooms” that are centralized around	a certain topic, and it’s basically a discussion where people call in. Some rooms set a restriction on who can talk or not, but everyone can listen.
					<br><br>  
					It’s a cool concept to think if twitter had the same channel capability as Slack.  What if your company could use Twitter as a replacement and also have channels that you could set visible to the public.  It would be a great way to give transparency on what’s going on within the company.  Of course there are group chats in twitter, but it doesn’t come with the full set of functionality dedicated to work groups.
					<br><br>  
					Twitter could also get into the chatroom space.  Discord and slack have channels dedicated to certain topics and are basically chatrooms with a group of friends or strangers.  Pretty similar to Clubhouse, but again Clubhouse is strictly audio.  You can also say this is basically a more built out version of messages.
				</div>
			</div>
		</div>
	</div>
</div>

