.body {
	margin-bottom: 40px;
	margin-top:40px;
	width: 100%;

	.blog-title {
		font-size: 48px;
		text-align: center;
		margin-bottom: 60px;
		margin-top: 60px;

		@media screen and (max-width: 1300px) {
			margin-top: 10px;
			font-size: 20px;
			margin-bottom: 30px;
		}
	}

	.blog-meta {
		font-style: italic;
		font-size: 20px;
		color: grey;
		margin-left: 15%;
		margin-bottom: 20px;

		@media screen and (max-width: 1300px) {
			font-size: 14px;
			line-height: 10px;
			margin-bottom: 10px;
			margin-left: 5%;
		}
	}

	.blog-text {
		text-indent: 50px;
		color: black;
		font-size: 24px;
		justify-content: center;
		line-height: 64px;
		margin-left: 15%;
		margin-right: 15%;;
		@media screen and (max-width: 1300px) {
			font-size: 16px;
			line-height: 40px;
			margin-left: 5%;
			margin-right: 5%;
		}
	}
	
	.nyc-img {
		width: 500px;
		height: 920px;

		@media screen and (max-width: 1300px){
			max-height: 600px;
		}
	}

	.average-rent-img {
		width: 1000px;
		height: 600px;
		margin-top: 20px;
		margin-bottom: 40px;

		@media screen and (max-width: 1300px) {
			max-height: 150px;
		}
	}

	.nyc-txt {
		padding-left: 40px;
		@media screen and (max-width: 1300px){
			margin-top: 14px;
			padding-left: 0px;
		}
	}
};
